<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1><%= title %></h1>
    
    <ul>
        <% menuItems.forEach(item => { %>
            <li>
                <strong><%= item.item_name %></strong>
                <p>Description: <%= item.description %></p>
                <p>Price: $<%= item.price %></p>
                <a href="/update/<%= item.item_id %>">Update</a>
            </li>
        <% }); %>
    </ul>
    
    <a href="/add">Add New Menu Item</a>
</body>
</html>
